doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(
      name="viewport",
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1"
    )
    meta(name="theme-color", content="#FFFFFF")
    meta(name="google", value="notranslate")
    meta(name="Description", content="Sultan Games")
    title BOOK OF GOLD DELUXE

    //- Manifest
    link(rel="manifest", href="/manifest.json", crossorigin="use-credentials")

    //- Icons
    link(rel="icon", type="image/ico", href="/images/16.png")
    link(rel="apple-touch-icon", href="/images/192.png?s=192x192")
    link(rel="apple-touch-icon", sizes="152x152", href="/images/152.png?s=152x152")
    link(rel="apple-touch-icon", sizes="180x180", href="/images/180.png?s=180x180")
    link(rel="apple-touch-icon", sizes="167x167", href="/images/167.png?s=150x150")
    link(rel="apple-touch-startup-image", href="/images/300.png?s=300x300")
    meta(name="apple-mobile-web-app-title", content="Sultan Games")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="mobile-web-app-capable", content="yes")

    //- Fonts / Styles
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin="")
    link(
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap",
      rel="stylesheet"
    )
    link(
      rel="stylesheet",
      type="text/css",
      href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
    )
    link(rel="stylesheet", type="text/css", href="/css/style.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Material+Icons&display=swap")

  body(data-pwauid="6DPJoHRT_3-ped6F", data-match-theme="true", lang="en")
    div#_js(style="display:none")

    //- Button
    button#install-button(
      data-installing="Installing…",
      data-download="Downloading…",
      data-open="Open",
      data-size="15",
      style="margin:20px;"
    ) Install

    //- App description
    .app-description__content(style="margin:20px;")
      div#text.collapsed Здесь текст описания.
      .shadow(style="display:block; background:rgba(0,0,0,0.1); height:40px;")

    //- Expand button
    button#expand-button(
      data-show="Show more",
      data-hide="Hide",
      style="margin:20px;"
    ) Show more

    //- Scripts
    script(src="/js/script.min.js")

    //- Скрытая ссылка, которую использует goToChrome()
    a#r(href="#", style="display:none") test

    script(src="/js/ua-parser.min.js")
    script(src="/js/main.min.js")